@model HKT2tr5.Models.Entities.Xe

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutViewAll.cshtml";
}

<h1>Chi Tiet Xe</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="https://placeimg.com/640/480/animals"
                     alt="Card image cap" height="200">
                <div class="card-body text-center">
                    <p class="card-text">Text goes here</p>
                    <p class="card-subtitle">More text goes here</p>
                </div>
            </div>
        </div>
    </div>
</div>